<%= turbo_frame_tag @article do %>
<h1>Showing article detalis</h1>

<p><strong> Title : </strong><%= @article.title %></p>
<p><strong> Description : </strong><%= @article.description %></p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Delete', article_path(@article), data: { turbo: false, "turbo-method": :delete } %>  |
<%= link_to 'Return to articles listing', articles_path(@article) %>
<% end %>
